Config {
    userActionLogFile = "log/useractions.log"
  , sessionTimeout = 1200
  , emailHostname = "http://127.0.0.1:8000"
  , emailFromAddress = "noreply@bead.org"
  , defaultLoginLanguage = "en"
  , usernameRegExp = "^[A-Za-z0-9]{6}$"
  , usernameRegExpExample = "QUER42"
  , timeZoneInfoDirectory = "/usr/share/zoneinfo"
  }
