
user-actions-log:          "log/useractions.log"

session-timeout:          1200

hostname-for-emails:      "http://127.0.0.1:8000"

from-email-address:       "noreply@bead.org"

default-login-language:   "en"

timezone-info-directory: "/usr/share/zoneinfo"

max-upload-size:          128

login-config:
  ldap:
    default-timezone:     "UTC"
