Config {
    userActionLogFile = "log/useractions.log"
  , sessionTimeout = 1200
  , emailHostname = "http://127.0.0.1:8000"
  , emailFromAddress = "noreply@bead.org"
  , defaultLoginLanguage = "en"
  , timeZoneInfoDirectory = "/usr/share/zoneinfo"
  , maxUploadSizeInKb = 128
  , loginConfig = LDAPLoginConfig {
        nonLDAPUsersFile = Nothing
      , defaultRegistrationTimezone = "UTC"
      }
  }
