#header {
  background: none repeat scroll 0 0 #F6FFF6;
}

#logo {
  float: left;
  color: orange;
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
}

#user {
  float: right;
}

#title {
  overflow: hidden;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
}
