html {
  background-color: #ffffff
  font family: Verdana, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

#header {
  border-color: black;
  border-width: 1px;
  border-style: solid;
}

#logo {
  float: left;
  border: 1px solid black;
}

#user {
  float: right;
  border: 1px solid black;
}

#title {
  overflow: hidden;
  text-align: center;
  border: 1px solid black;
}

#menu {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: left;
  float: left;
}

#content {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
