html {
  background-color: #ffffff
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: underline;
  text-color: blue;
}

a:hover {
  cursor: pointer;
  text-decoration: underline;
}

textarea {
  resize: none;
}

#status {
  text-align: center;
}

#menu {
  text-align: center;
}

#menu ul {
  width: 100%;
  list-style-type: none;
  padding: 0 10px;
}

#menu ul a {
  padding: 10px 10px 10px 0px;
}

#menu > ul > li {
  display: inline;
}

#content {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

.create-course-table,
.group-submission-table,
.user-submission-class-table,
.create-group-table,
.user-detail-table,
.submission-list-table
{
  margin-left: auto;
  margin-right: auto;
}

