html {
   padding: 0;
   margin: 0;
   background-color: #ffffff;
   text-align: center;
}
body {
   padding: 0;
   margin: 0;
}
a {
   text-decoration: underline;
}
a :hover {
   cursor: pointer;
   text-decoration: underline;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
}

#login-form td {
  text-align: right;
}
